.header-note-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.header-note-app .header-note {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(84, 62, 19);
  padding-left: 20px;
  color: #ffff;
}

.header-note-app .add-new-note {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-note-app .add-new-note .table-content-add {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #ffff;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
  min-height: 200px;
}

.header-note-app .add-new-note .table-content-add p {
  font-size: 20px;
}

.icon-add-new {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 27px;
  border-radius: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(26, 86, 14);
  color: #ffff;
}

.icon-add-new:active {
  background-color: rgb(25, 72, 16);
}
.table-list-data {
  width: 100%;
  margin-top: 50px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.table-list-data .box-list-item {
  width: 24%;
  padding: 20px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ffff;
  position: relative;
}

.table-list-data .box-list-item .icon-delete-note {
  position: absolute;
  bottom: -10px;
  right: -10px;
  font-size: 25px;
  background-color: rgb(255, 0, 0);
  color: #ffff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}

.table-list-data .box-list-item .icon-update-note {
  position: absolute;
  bottom: -10px;
  right: 30px;
  font-size: 25px;
  background-color: orange;
  color: #ffff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}